<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432303659716-muj17veks24qh2q65teje4ji7us87821.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432303659716-muj17veks24qh2q65teje4ji7us87821</string>
	<key>API_KEY</key>
	<string>AIzaSyDuoKYx1W3PFNRJa1oa7zW7O4hff3mlUTw</string>
	<key>GCM_SENDER_ID</key>
	<string>432303659716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>openline.lastochki.ozero</string>
	<key>PROJECT_ID</key>
	<string>lastochki-ozero</string>
	<key>STORAGE_BUCKET</key>
	<string>lastochki-ozero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432303659716:ios:d05aecb13b7020768cc791</string>
</dict>
</plist>