<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945690898948-vp06ll0rkp4o74do1hj2uqnpcl08g0dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945690898948-vp06ll0rkp4o74do1hj2uqnpcl08g0dp</string>
	<key>API_KEY</key>
	<string>AIzaSyABox58TZNiGWOaua-xw0wcajeTr8GRB_s</string>
	<key>GCM_SENDER_ID</key>
	<string>945690898948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lastochki</string>
	<key>PROJECT_ID</key>
	<string>lastochki-test</string>
	<key>STORAGE_BUCKET</key>
	<string>lastochki-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945690898948:ios:b4809d006ecd903fd87b51</string>
</dict>
</plist>