<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18136950981-mghparug65u9o6robs7l9u32ql5d33dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18136950981-mghparug65u9o6robs7l9u32ql5d33dp</string>
	<key>API_KEY</key>
	<string>AIzaSyCRyMq55UAd6W4BTE9PtH_afSdQ08tXFsA</string>
	<key>GCM_SENDER_ID</key>
	<string>18136950981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>openline.lastochki.ozero.test</string>
	<key>PROJECT_ID</key>
	<string>lastochki-ozero-test</string>
	<key>STORAGE_BUCKET</key>
	<string>lastochki-ozero-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18136950981:ios:29e79421e279ed838968ac</string>
</dict>
</plist>